{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce
{% endblock %}

{% form_theme form _self %}

{% block body %}

    <div class="container">
        <h1>Créer une nouvelle annonce</h1>

        {{ form_start(form) }}


        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block _ad_images_widget %}
    <p>Ajoutez vos images</p>

    {{ form_widget(form) }}

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url)}}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption)}}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-image').click(function(){
            // récupere le numéro des futurs champs d'images
            const index = $('#ad_images div.form-group').length;

            // récupere le prototype des entrées d'images
            const tmpl = $('#ad_images').data('prototype').replace(/__name__/g, index);

            // injection du code au sein de la div
            $('#ad_images').append(tmpl);

            //gere le bouton supprimer
            handleDeleteButtons();

            console.log(tmpl);
        });

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                console.log(target);
                $(target).remove();
            });
        }

        handleDeleteButtons();

    </script>
{% endblock %}